{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <ul class="list-group">
        {% for propertyValue in object.properties %}
            <li class="list-group-item">
                <span class="badge label label-info">{{ propertyValue.value }}</span>
                {{ propertyValue.property.title }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}